*{
    padding: 0;margin: 0; box-sizing: border-box;
}
/* 
svg{
    width:50px;
} */
body{
    min-height:100vh;
}
header{
    width: 100vw;
   
    background-color: black;

    color:white;
}
.navbar{
    display:flex;
    align-items: center;
    height: 60px;
    justify-content: space-around;
}
.az-logo img{
    width: 14vw;
    
}
/* location solt */
.container a{
    display: flex;
    min-width: 10vw;
    width: 140px;
    align-items: center;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
.location-svg{
    width: 10px;
}
.container a>svg{
    width: 50px;
}

/* search solt */
.search-slot{
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: black;
    height: 41px;
    width:800px;
    background-color: white;

}
.left-part{
background-color: rgb(186, 184, 181);
border-radius: 10px 0px 0px 10px;
padding: 10px;
display: flex;
align-items: center;
height: 100%;
gap:5px;

}
.chevron{
    width: 20px;
    
    
}

.mid-part, input{
    height:100%;
    display: flex;
    flex-grow: 2;

}

.right-part{
    background-color: orange;
    height: 100%;
    padding:5px;
     border-radius: 0px 10px 10px 0px ;
}
.right-part>svg{
 color: black;
    width:30px;
}


/* lang-slot */

.lang-slot{
    display: flex;
height: 50px;
padding: 0px 1em;
gap:5px;
    align-items: center;
}
.chevron{
    width:13px;
}
.flag img{
    width: 21px;
}

/* account-slot */

.account-slot{
    display: flex;
  align-content: center;
  width: 150px;
  min-width: 130px;
  flex-wrap: wrap;
}
.account-slotspan{
    font-size: 10px;
}
.account-slotspan{
    font-size: 10px;
}

/* Return slot */
.Return-slot{
    display: flex;
  flex-direction: column;
justify-content: center;
  width: 80px;
  min-width: 70px;

}

/* Cart-slot */

.cart{
    display:flex;
    align-items: center;
    gap:5px;
    padding: 0 10px 0 0;

}
.cart>svg{
    width: 30px;
}
